<div class="container mt-5">
  <h2>Item Details</h2>
  <form method="post" action="/admin/products/edit/<%=product._id%>">
    <!-- Type Input -->
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" name="type" placeholder="Enter Type" value="<%=product.type%>">
    </div>

    <!-- Name Input -->
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="<%=product.title%>">
    </div>

    <!-- Description Input -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description" ><%=product.description%></textarea>
    </div>

    <!-- Price Input -->
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price" value="<%=product.price%>">
    </div>

    <!-- Edit Button -->
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
