<h3><%-pageTitle  %></h3>

<a href="/admin/products/create" class="btn btn-info">Create New Product</a>
<a href="/admin/brands/create" class="btn btn-info">Create New Brand</a>
<table class="table">
    <thead>
        <h1>Brands</h1>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < brands.length; index++ ) { %>
            <tr>
                <td><%= brands[index]._id%></td>
                <td><%= brands[index].brandName %></td>
                <td><img src="<%= brands[index].brandImage %>" alt="" class="w-25"></td>
                <td>
                    <a href="/admin/brands/edit/<%= brands[index]._id %>" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a href="/admin/brands/delete/<%= brands[index]._id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<table class="table">
    <h1>Products</h1>
    <thead>
        <tr>
            <th>id</th>
            <th>Type</th>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < products.length; index++ ) { %>
            <tr>
                <td><%= products[index]._id %></td>
                <td><%= products[index].type %></td>
                <td><%= products[index].title %></td>
                <td><%= products[index].price %></td>
                <td><%= products[index].description %></td>
                <td>
                    <a href="/admin/products/edit/<%= products[index]._id %>" class="btn btn-warning">Edit</a>
                    <a href="/admin/products/delete/<%= products[index]._id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

